# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# PyCharm
.idea/

# Environment files
.env
*.env

# Data files
data/

data/*.csv
data/*.parquet
data/*.json
*.sqlite
*.db

# Large embeddings & vector DB indexes
*.faiss
*.npy
*.npz

# Logs & reports
*.log
logs/
reports/*.html
reports/*.md

# Pip & Python packaging artifacts
*.egg-info/
dist/
build/

vector_store/

*.pkl

vector_store/directory/complaints_metadata.pkl
